.padded

  Label.h1= title
  
  Label.h2= subtitle

  TextField

  Label.reversed-name
  
  Label.reversed-name(color='#00f')
  
  Label.reversed-name.error
  
  .buttons
    Button.clickable I work!
    Button.notclickable I don't!
